/*Reset CSS*/
*{
  padding: 0;
  margin: 0;
}

/*remove underline from anchors*/
*:link{
  text-decoration: none;
}

/*For all pages*/
/* Navbar */
nav {
    z-index: 9999;
    overflow:hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}
/* navbar links */
nav ul li, nav a{
    list-style-type: none;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;

}

/*Select Dark Mode button*/
nav ul li label{
    list-style-type: none;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

nav ul li#toggler{
  float: left;
}

nav a:hover {
    color: yellow;
}

/* background image */
body {
    background-image: url(images/TestStockImage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex;
    overflow-y: scroll;
}

/* Footer */
footer{
    background-color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a:hover {
    color: yellow;
}
footer a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




/*For index.html*/
h1 {
  padding-top: 200px;
  padding-left: 150px;
  padding-right: 175px;
  font-size: 5em;
}

p {
  padding-left: 150px;
  padding-right: 175px;
}

button {
  background-color: grey;
}

#bg-container {
  margin-bottom: 46.6vh;
}

/*Dark mode implementation*/
#bg-container h1{
  margin-top: 20px;
  color: var(--title);
}

#bg-container p{
  color: var(--text);
}

#toggleMode:checked ~ #bg-container{
  --title: #8e9294;
  --text: #505456;
  --btn: #2962fe;
}











/*For quiz.html*/


/*Parallax scrolling for images*/
/*sets scroll properties for whole page*/
.wrapper{
  height: 100vh;
  overflow-x: hidden; /*Disable horizontal scrollbar when scale image*/
  overflow-y: auto;
  perspective: 2px;
}



/*Dark mode implementation*/

/*By default, light mode is picked ("Dark mode" label is displayed and "Light mode" label is hidden)*/
#toggleDark{
  display: inline;
  color: white;
}
#toggleLight{
  display: none;
  color: white;
}
#toggleDark:hover, #toggleLight:hover{
  color: yellow;
}

/*If checked, toggleLight ("Light mode" label) will display and toggleDark ("Dark mode" label) will be hidden*/
#toggleMode:checked ~ header nav ul li #toggleDark{
  display: none;
}
#toggleMode:checked ~ header nav ul li #toggleLight{
  display: inline;
}

/*TOGGLERS*/
/*Hide square button*/
#toggleMode{
  visibility: hidden;
}

/*Pin to screen*/
#toggleDark, #toggleLight{
  cursor: pointer;
  z-index: 2;
}

/*CONTAINER*/
#container{
  background-color: var(--bg);
  height: auto;
  width: 100%;
}

form{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: auto;
}

form .bubble:nth-child(2n) {
  align-self: flex-end;
}

/*setup global (color) variables (by default: for light mode)*/
:root{
  --bg: #f8fafc;
  --bubble-bg: #FFFFFF;
  --bubble-border: #CCCCCC;
  --bubble-title: #343f44;
  --bubble-text: #54666d;
  --btn: #3eb0ef;
}

/*Title*/
#container form h1{
  padding-top: 100px;
  padding-left: 50px;
  color: var(--bubble-title);
}

#container form h2{
  padding-left: 50px;
  padding-bottom: 50px;
  color: var(--bubble-title);
}

/*BUBBLE*/
.bubble{
  flex-grow: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
  width: 400px;
  border-radius: 20px;
  border: 5px solid purple;
  display: inline-block;
  height: auto;
  justify-content: left;
  background-color: var(--bubble-bg);
}

.bubble .question{
  border-collapse: separate;
  padding: 20px;
}
.bubble .question legend{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--bubble-title);
  text-align: left;
}
.bubble .content label{
  padding: 6px;
  color: var(--bubble-title);
}

.bubble .question .content{
  display: flex;
  flex-direction: column;
  float: right;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--bubble-title);
  float: left;
  text-align: left;
}

.bubble .question .content div:not(.multiple-choice){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#submit-bubble {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#submit-bubble label{
  padding: 15px;
}

.bubble .question .content input:hover{
  opacity: 50%;
}

/*when dark mode is selected, change set of global (color) variables*/
#toggleMode:checked ~ #container{
  --bg: #020202;
  --bubble-bg: #111413;
  --bubble-border: #1f2322;
  --bubble-title: #8e9294;
  --bubble-text: #505456;
  --btn: #2962fe;
  
  background-color: var(--bg);
}