/*
Author: Aly & Jian
Purpose: to style 4 pages (index, topic, quiz, enhancements)
*/

/*Reset CSS*/
*{
  padding: 0;
  margin: 0;
}

/*remove underline from anchors*/
*:link{
  text-decoration: none;
}

/*For all pages*/
/*citations*/
/*italic spans*/
.citation span.italic {
  font-style: italic;
}

/*indentation spans*/
.citation span.indent{
  display: inline-block;
  width: 5em;
}

/* Navbar */
nav {
    z-index: 9999;
    overflow:hidden;
    background-color: #272838;
    position: fixed;
    top: 0;
    width: 100%;
}
/* navbar links */
nav ul li, nav a{
    list-style-type: none;
    float: right;
    display: block;
    color: #F4FFF8;
    text-align: center;
    padding: 0.5vh 0.5vw;
    font-size: 2.3vmin;
    font-family: "Google Sans", sans-serif;
}

/*Select Dark Mode button*/
nav ul li label{
    display: block;
    list-style-type: none;
    float: left;
    justify-content: space-around;
    color: #f2f2f2;
    text-align: center;
    padding: 0.25vh 0.5vw;
}

.material-icons.md-32 {
  font-size: 3.2vmin;
}

nav ul li#toggler{
  float: left;
}

nav a:hover {
    color: yellow;
}

/* background image */
body {
    /* background-image: url(images/TestStockImage.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex;
    height: 100vh;
    width: 100vw;
}

/* Footer */
footer{
    background-color: #272838;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-center;
    justify-content: space-between;
}
footer a:hover {
    color: yellow;
}
footer a {
    display: inline-block;
    color: #8BAAAD;
    text-align: center;
    padding: 1vh 0.5vw;
    text-decoration: none;
    font-size: 1.5vmin;
    font-family: "Google Sans", sans-serif;
    font-style: italic;
}
footer.parallax-footer{
  position: fixed;
  bottom: 0;
}


/*For index.html*/
/*animations*/
@keyframes fromleft {
  from {left: 100vw;}
  to {left: 0;}
}

main#bg-container{
  transform: preserve-3d;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  color: #272838
}

main#bg-container::after{
  background: var(--shader);
  background-repeat: no-repeat;
  background-size: cover;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px);
  background-size: 100%;
  z-index: -1;
}

#title {
  position: relative;
  padding-top: 20vh;
  padding-left: 10vw;
  padding-right: 25vw;
  padding-bottom: 2vh;
  font-size: 10vmin;
  font-family: "Google Sans", sans-serif;
  animation: fromleft 3s ease-out 0s 1;
  animation-fill-mode: both;
  color: var(--title);
}

#subtitle {
  position: relative;
  padding-left: 10vw;
  padding-right: 25vw;
  font-size: 2.5vmin;
  font-family: "Google Sans", sans-serif;
  animation: fromleft 3s ease-out 0.5s 1;
  animation-fill-mode: both;
  color: var(--text);
}

/*learn-more button*/
#learn-more {
  position: relative;
  text-decoration: none;
  margin-top: 2vh;
  margin-left: 10vw;
  border-radius: 20px;
  background-color: var(--bubble-bg);
  border: 0.5vmin solid var(--bubble-border);
  height: 5.5vmin;
  width: 21vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bubble-text);
  animation: fromleft 3s ease-out 1s 1;
  animation-fill-mode: both;
  color: var(--text);
  font-size: 2vmin;
  font-family: "Google Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
}

#learn-more::after{
  z-index: 10;
}

/*Dark mode implementation*/
/*darkmode config*/
#toggleMode:checked ~ #bg-container{
  --shader: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/1920/1080');
  --title: #F4FFF8;
  --text: #F4FFF8;
  --bubble-bg: #272838;
  --bubble-border: #1f2322;
  --bubble-text: #ffffff;
}


/*For topic.html & enhancements.html*/
/*Alternating parallax sections*/
main#parallax-container{
  height: 100%;
  overflow-x: hidden;
  perspective: 1.7px;
  width: 100%;
  color: #272838;
}

#parallax-container section {
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--title);
  width: auto;
}

.parallax {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-parallax {
  padding: 5vmin;
  flex-direction: column;
  height: auto;
  background-color: var(--bubble-bg);
  z-index: 1;
}

aside{
  background: var(--bubble-bg);
  border: 0.5vmin solid var(--bubble-border);
  align-self: flex-end;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

aside p#scribble{
  padding: auto;
  margin: auto;
}

#parallax-container section.parallax h1 {
  font-size: 5vmin;
  font-family: "Google Sans", sans-serif;
  margin-left: 10vmin;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  z-index: 2;
  font: bold 5vmin Google Sans, serif;
}

#parallax-container section h3 a{
  color: var(--title);
  text-decoration: underline;
}

#parallax-container section.parallax h2 {
  font-size: 4.5vmin;
  font-family: "Google Sans", sans-serif;
  margin-left: 20vmin;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  z-index: 2;
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(3);
  background-size: 100%;
  z-index: -1;
}

.parallax-bg::after {
  background: var(--shader);
  background-size: cover;
  background-repeat: no-repeat;
}

/*Dark mode implementation*/
#parallax-container h1{
  margin-top: 20px;
  color: var(--title);
  margin-left: 20vmin;
}

#parallax-container .no-parallax h2, #parallax-container .no-parallax h3, #parallax-container .no-parallax th{
  color: var(--title);
  font-size: 3vmin;
  font-family: "Google Sans", sans-serif;
  padding: 1.8vmin;
  margin-left: 20vmin;
  margin-right: 30vmin;
}

#parallax-container .parallax h2{
  align-self: flex-end;
  margin-right: 30vmin;
}

#parallax-container p, #parallax-container td, #parallax-container li{
  color: var(--text);
  padding: 1.8vmin;
  font-size: 2.2vmin;
  font-family: "Google Sans", sans-serif;
  margin-left: 20vmin;
  margin-right: 20vmin;
}

/*darkmode config*/
#toggleMode:checked ~ #parallax-container{
  --shader: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/1920/1080');
  --title: #F4FFF8;
  --text: #F4FFF8;
  --bubble-bg: #272838;
  --bubble-border: #F4FFF8;
  --bubble-text: #F4FFF8;
}



/*For quiz.html*/
/*animation*/
@keyframes floatleft {
  from {left: 100vw;}
  to {left: 0vw;}
}

/*Dark mode implementation*/
/*By default, light mode is picked ("Dark mode" label is displayed and "Light mode" label is hidden)*/
#toggleDark{
  display: inline;
  color: white;
}
#toggleLight{
  display: none;
  color: white;
}
#toggleDark:hover, #toggleLight:hover{
  color: yellow;
}

/*If checked, toggleLight ("Light mode" label) will display and toggleDark ("Dark mode" label) will be hidden*/
#toggleMode:checked ~ header nav ul li #toggleDark{
  display: none;
}
#toggleMode:checked ~ header nav ul li #toggleLight{
  display: inline;
}

/*TOGGLERS*/
/*Hide square button*/
#toggleMode{
  visibility: hidden;
}

/*Pin to screen*/
#toggleDark, #toggleLight{
  cursor: pointer;
  z-index: 2;
}

/*CONTAINER*/
#container{
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

form{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  align-items: flex-start;
  width: auto;
  transform: preserve-3d;
}

form::after{
  background: var(--shader);
  background-size: cover;
  background-repeat: no-repeat;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px);
  background-size: 100%;
  z-index: -1;
}

/*interleaving bubble selector*/
/* form .bubble:nth-child(2n) {
  align-self: flex-end;
} */

/*setup global (color) variables (by default: for light mode)*/
:root{
  --shader: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://picsum.photos/1920/1080');
  --bg: #f8fafc;
  --bubble-bg: #8BAAAD;
  --bubble-border: #272838;
  --bubble-title: #272838;
  --bubble-text: #272838;
}

/*Title*/
#container form h1{
  padding-top: 10vmin;
  padding-left: 20vmin;
  color: var(--bubble-title);
}

#container form h2{
  padding-left: 20vmin;
  padding-bottom: 10vmin;
  color: var(--bubble-title);
}

/*BUBBLE*/
.bubble{
  position:relative;
  flex-grow: 0;
  margin-left: 10vw;
  margin-right: 3%;
  margin-bottom: 2%;
  width: auto;
  border-radius: 20px;
  border: 0.5vmin solid var(--bubble-border);
  display: inline-block;
  height: auto;
  justify-content: left;
  background-color: var(--bubble-bg);
  animation-fill-mode: both;
  animation: floatleft 6s ease-in-out 0s 1 normal;
}

#bubble1 {
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

#bubble2 {
  animation-delay: 1s;
  animation-fill-mode: both;
}

#bubble3 {
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

#bubble4 {
  animation-delay: 2s;
  animation-fill-mode: both;
}

#bubble5 {
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

#submit-bubble {
  animation-delay: 3s;
  animation-fill-mode: both;
}

fieldset.grow{
  border: none;
}

/*set size before grow*/
.grow{
  width: 35vw;
  transition: width 0.5s ease-in-out;
}

.grow:hover {
  width: 70vw;
}

.bubble .question{
  border-collapse: separate;
  padding: 3vmin;
}
.bubble .question legend{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--bubble-title);
  text-align: left;
  font-size: 3.5vmin;
  font-family: "Google Sans", sans-serif;
}
.bubble .content label{
  padding: 1vmin;
  color: var(--bubble-text);
  font-family: "Google Sans", sans-serif;
}

.bubble .question .content{
  display: flex;
  flex-direction: column;
  float: right;
  padding-bottom: 2vmin;
  margin-top: 2vmin;
  margin-bottom: 0;
  color: var(--bubble-text);
  float: left;
  text-align: left;
}

.bubble .question .content div:not(.multiple-choice){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#submit-bubble {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vmin;
}

#submit-bubble label{
  padding: 2vmin;
  font-family: "Google Sans", sans-serif;
}

input{
  padding-left: 2vmin;
  border-radius: 5px;
  border: none;
}

select{
  padding-left: 2vmin;
  padding-right: 2.5vmin;
  border-radius: 5px;
  border: none;
}

#submit-bubble input{
  padding-left: 2vmin;
  padding-right: 2.5vmin;
}

textarea{
  padding-left: 2vmin;
  border-radius: 5px;
  border: none;
  margin-bottom: 2vmin;
}

.bubble .question .content input:hover{
  opacity: 50%;
}

/*Input size before grow*/
.bubble .grow .content textarea, .bubble .grow .content div:not(.multiple-choice) input{
  width: 20vw;
  transition: width 0.5s ease-in-out;
}

/*Input size after grow*/
.bubble .grow:hover .content div:not(.multiple-choice) input{
  width: 40vw;
}

/*Textarea size before grow*/
.bubble .grow:hover .content textarea{
  transition: width 0.5s ease-in-out;
  width: 20vw;
}

/*Textarea size after grow*/
.bubble .grow:hover .content textarea{
  width: 40vw;
}

/*when dark mode is selected, change set of global (color) variables*/
/*darkmode config*/
#toggleMode:checked ~ #container{
  --shader: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/1920/1080');
  --bubble-bg: #272838;
  --bubble-border: #1f2322;
  --bubble-title: #F4FFF8;
  --bubble-text: #F4FFF8;
  --btn: #2962fe;
  
  background-color: var(--shader);
}